# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: piggymetrics-ingress
#   namespace: piggymetricss
# spec:
#   ingressClassName: nginx
#   rules:
#   - http:
#       paths:
#       - path: /
#         pathType: Prefix
#         backend:
#           service:
#             name: gateway
#             port:
#               number: 80