apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: piggymetrics-ingress
  namespace: piggymetricss
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
  - host: piggymetrics.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: gateway
            port:
              number: 80